html {
  width: 100%;
}

body {
  overflow-x: hidden !important;
}

body.show-spinner > main {
  overflow: hidden !important;
}

/* Hide everything under body tag */
body.show-spinner > *{
  opacity: 0;
}

/* Spinner */
body.show-spinner::after{
  content: " ";
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  border-top-color: rgba(0, 0, 0, 0.3);
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
  left: calc(50% - 15px);
  top: calc(50% - 15px);
  position: fixed;
  z-index: 1;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
/*custom css*/
.hid{display: none}
.hid+.select2{display: none}
body{padding-bottom:0;font-family: "Sarabun"}
.navbar{padding-top: 1.2rem;padding-bottom: 1.2rem}
.theme-colors{display: none}
.btn-primary,#displayOptions .show > .btn-outline-dark.dropdown-toggle,.btn-primary:hover,.btn-outline-primary:hover{background-color: #7fbc03;border-color: #7fbc03}
.dropdown-item.active, .dropdown-item:active{background-color: #7fbc03;}
.text-gray{color: #c8c8c8}.bg-gray,btn-gray{background-color: #c8c8c8}
.menu .main-menu ul li.active:after,.btn-outline-primary:hover{background:#7fbc03}
.menu .main-menu ul li.active a,.page-item.active .page-link,.btn-link{color: #7fbc03}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle{background:#55790d;border-color: #88a946}
.btn-outline-primary{border-color: #7fbc03;color: #88a946}
.btn-outline-primary:hover{color: #fff}
.page-item.active .page-link{border-color:#7fbc03}
.btn-link,.text-primary{color: #469d47!important}
.rounded-1{border-radius: 1em!important;-webkit-border-radius: 1em!important}
.rounded-2{border-radius: 2em!important;-webkit-border-radius: 2em!important}
.rounded-5{border-radius: 5em!important;-webkit-border-radius: 5em!important}

[id="search-type"]{position: relative}
.navbar .dropdown-toggle{height: 32px;}
.navbar .search{height: 32px}
.navbar .search input{padding-top: 0;padding-bottom: 0; line-height:32px}
.navbar .search .search-icon{width: 32px; height: 32px; line-height:32px; top: 1px}
.navbar .user .name small{color: #b7b4b4;margin-top: -1px}
.link-adv-search a{display: block;white-space: nowrap; color: #53aafc}

.cv-select-cr .select2-container--bootstrap .select2-selection.form-control{background: #f8f9fa;border-radius:2em!important}
.cv-select-cr .select2-container--bootstrap.select2-container--open .select2-selection{border-color: #d7d7d7!important}
.cv-select-cr .select2-container--bootstrap .select2-selection--multiple .select2-search--inline .select2-search__field{background: none}
.form-group label{font-weight: 700}
/*slidebar left*/
.main-menu .list-unstyled>li>a span{color: #97a3b5}
.main-menu [class*="icn-nav"]{display: block;width: 45px; height: 42px;background: url("../di/ic-dashboard.png") 50% 50% no-repeat;background-size: 40px auto;}
.main-menu [class*="icn-nav1"]{background-size: 32px auto}
.main-menu [class*="icn-nav2"]{background-image: url("../di/ic-person.png")}
.main-menu [class*="icn-nav3"]{background-image: url("../di/ic-consent-setting.png")}
.main-menu [class*="icn-nav4"]{background-image: url("../di/ic-report.png")}
.main-menu [class*="icn-nav5"]{background-image: url("../di/ic-setting.png")}
.main-menu [class*="icn-nav6"]{background-image: url("../di/ic-import.png")}
.menu .main-menu ul li.active a i, .page-item.active .page-link i{ filter:saturate(20) hue-rotate(250deg);-webkit-filter:saturate(20) hue-rotate(250deg)}
/*table sort*/
table.dataTable thead .sorting::before, table.dataTable thead .sorting::after, table.dataTable thead .sorting_asc::before, table.dataTable thead .sorting_asc::after, table.dataTable thead .sorting_desc::before, table.dataTable thead .sorting_desc::after, table.dataTable thead .sorting_asc_disabled::before, table.dataTable thead .sorting_asc_disabled::after, table.dataTable thead .sorting_desc_disabled::before, table.dataTable thead .sorting_desc_disabled::after{content: "";display: block; border-left: 5px solid transparent;border-right: 5px solid transparent}
table.dataTable thead .sorting::after, table.dataTable thead .sorting_asc::after, table.dataTable thead .sorting_desc::after, table.dataTable thead .sorting_asc_disabled::after, table.dataTable thead .sorting_desc_disabled::after{border-top: 5px solid #54565a;bottom: 1em}
table.dataTable thead .sorting::before, table.dataTable thead .sorting_asc::before, table.dataTable thead .sorting_desc::before, table.dataTable thead .sorting_asc_disabled::before, table.dataTable thead .sorting_desc_disabled::before{border-bottom: 5px solid #54565a;right: 1.5em;bottom: auto;top: 1em;}
table.dataTable thead .sort-none:before,table.dataTable thead .sort-none:after{display: none}
.dataTables_scrollBody th:before{display: none!important}
/*paging*/
.pagination-sm .page-item .page-link,.page-item .page-link.prev,.page-item .page-link.next,.page-item .page-link.first, .page-item .page-link.last{color:#54565a}
.page-item .page-link.next,.page-item .page-link.prev,.page-item .page-link.first, .page-item .page-link.last,.page-item .page-link.first:hover, .page-item .page-link.last:hover{background: none;border: none}
.dataTables_wrapper .paginate_button.previous{margin-right: 0}
.dataTables_wrapper .paginate_button.next{margin-left: 0}
.page-item .page-link.first:hover, .page-item .page-link.last:hover{color: #469d47}
/*ERROR*/
.fixed-background{background: #f8f8f8}
.auth-card .form-side{width: 100%}
/*detail*/
/*.card{box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1)}*/
.sub-header,.text-medium{font-size: 16px}
.user-avatar{width: 200px;max-width: 100%}
.nav-tabs.separator-tabs .nav-link{font-size: 16px; text-transform: inherit}
.nav-tabs.separator-tabs .nav-link.active{color: #7fbc03}
.nav-tabs.separator-tabs .nav-link.active:before{background:#7fbc03}
.head-bar .icon-button{border: none}
.head-bar .icon-button:hover{background: #fff;color: #54565a}
.head-bar .icon-button.rotate{transform: rotate(180deg)}
.head-bar .icon-button .with-rotate-icon:before{display: block;width: 0;height: 0; margin: 0 auto;content: "";border-top: 8px solid #54565a;border-left:8px solid transparent;border-right:8px solid transparent}
.head-tab-title{position: relative}
.head-tab-title .fix-r{position: absolute; right: 0; bottom: 5px;}
.card[class*="product"] .bg-light .ctrl-btn .btn, .modal .bg-light .ctrl-btn .btn{min-width: 80px}
.table.nowrap thead th{white-space: nowrap}
.modal .table.nowrap thead th{border: none}
/**/
.btn.min-w{min-width: 100px}
.btn-gray{background-color: #97a3b5;color: #fff}
.main-consent-setting .data-table .btn{ min-width: 100px; padding: 5px 10px}
.group-sub{position: relative}
.group-sub .btn-del{display: none;position: absolute; top: 50%; left: 100%; transform: translateY(-50%);-webkit-transform: translateY(-50%);color: #ff1a1a;text-decoration:underline}
.group-sub.added .btn-del{display: block}
/*add consent master*/
.select2-container--default .select2-selection--single{border-radius: 0;-webkit-border-radius: 0;border-color: #d7d7d7}
.select2-container .select2-selection--single{height: auto}
.select2-container--bootstrap .select2-selection.form-control{padding: 0}
.select2-container--bootstrap .select2-selection--single{line-height: 24px}
.select2-container .select2-selection--single .select2-selection__rendered{height: calc(2em + .5rem);padding: 0.2rem .75em;color: #3a3a3a}
.select2-container--default .select2-selection--single .select2-selection__arrow{top: 50%;transform: translateY(-50%);-webkit-transform: translateY(-50%)}
.border-dash{border: 2px solid #d7d7d7;padding: 10px;border-radius: .5em;-webkit-border-radius: .5em}
.border-dash .dropzone{border: 1px dashed #e0e0e0!important;border-radius: .5em;-webkit-border-radius: .5em;}
.wrap-drop ~ p{border-bottom: 2px solid #28a745;margin-bottom: 5px!important;padding-bottom: 2px}
/*report*/
.bg-green,.btn-green{background: #469d47;color: #fff}
.btn-export{border-radius: .3em;-webkit-border-radius: .3em;padding:5px 10px; line-height: 26px; color: #fff!important;font-weight: 400}
.btn-export>i{font-size: 24px;display: inline-block;vertical-align: sub}
[id="displayOptions"] .input-daterange .col .form-contro,[id="displayOptions"] .form-control{padding: 4px 10px}
[id="displayOptions"] .input-daterange .col .form-control,#displayOptions button.bg-white{border-color:#b8b8b8 }
#displayOptions button.btn-primary{border:none;height: 26px;}
/*dashboard*/
.dashboard-numbers .bg-primary{background-color: #53aafc!important}
.dashboard-numbers .bg-success{background-color: #2ed47a!important}
.dashboard-numbers .bg-gray{background-color: #b7b4b4!important}
.dashboard-numbers .bg-danger{background-color: #f7685b!important}
.icon-cards-row{margin: 0}
.icon-cards-row .lead,.icon-cards-row .card-text{color: #fff;font-size: 150%}
.icon-cards-row .lead{display: block;font-size: 300%;margin-top: .5em}
.list-total>li>p{font-size: 18px; color: #97a3b5}
.list-total>li>.text-success{font-size: 220%;color: #7fbc03!important}
