body{font-family: 'ngerntidlor';font-size: 14px}
@font-face {
    font-family: 'ngerntidlor';
    src: url('ngerntidlor-bold-webfont.eot');
    src: url('ngerntidlor-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('ngerntidlor-bold-webfont.woff2') format('woff2'),
         url('ngerntidlor-bold-webfont.woff') format('woff'),
         url('ngerntidlor-bold-webfont.ttf') format('truetype'),
         url('ngerntidlor-bold-webfont.svg#ngerntidlor') format('svg');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'ngerntidlor';
    src: url('ngerntidlor-regular-webfont.eot');
    src: url('ngerntidlor-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('ngerntidlor-regular-webfont.woff2') format('woff2'),
         url('ngerntidlor-regular-webfont.woff') format('woff'),
         url('ngerntidlor-regular-webfont.ttf') format('truetype'),
         url('ngerntidlor-regular-webfont.svg#ngerntidlor') format('svg');
    font-weight: 400;
    font-style: normal;
}